absl-py==2.0.0
addict==2.4.0
affine==2.4.0
anyio==3.5.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
attrs==22.1.0
backcall==0.2.0
basemap==1.3.7
basemap-data==1.3.2
basemap-data-hires==1.3.2
basicsr==1.4.2
beautifulsoup4==4.12.2
bleach==4.1.0
branca==0.6.0
brotlipy==0.7.0
cachetools==5.3.2
certifi==2023.7.22
cffi==1.15.1
cftime==1.6.2
charset-normalizer==2.0.4
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.2.1
colorama==0.4.6
comm==0.1.2
configobj==5.0.8
contourpy==1.0.7
cryptography==39.0.1
cycler==0.11.0
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
einops==0.7.0
entrypoints==0.4
envipyengine==1.0.8
executing==0.8.3
fastjsonschema==2.16.2
filelock==3.9.0
flit_core==3.8.0
folium==0.14.0
fonttools==4.39.3
fsspec==2023.12.2
future==0.18.3
geographiclib==2.0
geopy==2.4.0
gmplot==1.4.1
google-auth==2.25.2
google-auth-oauthlib==1.0.0
grpcio==1.60.0
h5py==3.10.0
huggingface-hub==0.20.1
idna==3.4
imageio==2.27.0
importlib-metadata==7.0.0
importlib-resources==5.2.0
ipykernel==6.19.2
ipython==7.34.0
ipython-genutils==0.2.0
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
jupyter_client==7.4.9
jupyter_core==5.3.0
jupyter-server==1.23.4
jupyterlab-pygments==0.1.2
kiwisolver==1.4.4
lazy_loader==0.2
lmdb==1.4.1
lxml==4.9.2
Markdown==3.5.1
MarkupSafe==2.1.1
matlab==0.1
matlabengine==9.14.3
matplotlib==3.7.1
matplotlib-inline==0.1.6
mistune==0.8.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
more-itertools==10.1.0
mpmath==1.2.1
nb-conda==2.2.1
nb-conda-kernels==2.3.1
nbclassic==0.5.4
nbclient==0.5.13
nbconvert==6.5.4
nbformat==5.7.0
nest-asyncio==1.5.6
netCDF4==1.6.3
networkx==2.8.4
notebook==6.5.3
notebook_shim==0.2.2
numpy==1.24.2
oauthlib==3.2.2
opencv-python==4.7.0.72
packaging==23.0
pandas==2.0.0
pandocfilters==1.5.0
parso==0.8.3
patchify==0.2.3
pickleshare==0.7.5
Pillow==9.4.0
pip==23.0.1
pkgutil_resolve_name==1.3.10
platformdirs==4.1.0
pooch==1.7.0
prometheus-client==0.14.1
prompt-toolkit==3.0.36
protobuf==4.25.1
psutil==5.9.0
pure-eval==0.2.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
Pygments==2.11.2
pykdtree==1.3.7.post0
pyOpenSSL==23.0.0
pyparsing==3.0.9
pyproj==3.5.0
pyresample==1.26.1
pyrsistent==0.18.0
pyshp==2.3.1
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2023.3
PyWavelets==1.4.1
pywin32==305.1
pywinpty==2.0.10
PyYAML==6.0.1
pyzmq==23.2.0
rasterio==1.3.8
requests==2.28.1
requests-oauthlib==1.3.1
rioxarray==0.13.4
rsa==4.9
safetensors==0.4.1
scikit-image==0.19.3
scikit-learn==1.2.2
scipy==1.10.1
Send2Trash==1.8.0
setuptools==65.6.3
shapely==2.0.2
six==1.16.0
sniffio==1.2.0
snuggs==1.4.7
soupsieve==2.4
spyder-kernels==2.4.0
stack-data==0.2.0
sympy==1.11.1
tb-nightly==2.14.0a20230808
tensorboard-data-server==0.7.2
terminado==0.17.1
threadpoolctl==3.1.0
tifffile==2023.4.12
timm==0.9.12
tinycss2==1.2.1
tomli==2.0.1
torch==2.0.0
torchaudio==2.0.0
torchvision==0.15.0
tornado==6.2
tqdm==4.66.1
traitlets==5.7.1
typing_extensions==4.4.0
tzdata==2023.3
urllib3==1.26.15
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.58.0
Werkzeug==3.0.1
wheel==0.38.4
win-inet-pton==1.1.0
wincertstore==0.2
xarray==2023.1.0
yapf==0.40.2
zipp==3.11.0
